[buildout]
parts = python django
eggs = 
unzip = true

[python]
recipe = zc.recipe.egg
interpreter = python
eggs = ${buildout:eggs}

[django]
recipe = djangorecipe
version = 1.2.1
project = django_publicmanager_tests
projectegg = django_publicmanager_tests
settings = settings
test = django_publicmanager manager_tests
eggs = ${buildout:eggs}
